.UsersContainer {
    padding: 10px;
}

.usersAmountDisplayedSwitcherContainer div {
    display: inline-block;
    border: 1px solid black;
    margin: 10px 20px 10px 0;

    width: 30px;

    cursor: pointer;
}

.pageSwitchersContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 3fr 3fr ;
    gap: 10px;
    padding: 10px;
    border: solid black 1px;
    height: 40px;
}

.pageSwitchersContainer div {
    display: inline-block;

    height: 20px;
    padding: 5px;

    border: 1px solid black;
    
    cursor: pointer;
}


.activePage {
    font-weight: bolder;
}
.unActivePage {
    font-weight: lighter;
}
