.UserContainer {
    display: grid;
    grid-template-columns: 1fr 4fr;

    padding: 10px 10px 10px 10px;
    margin: 0 0 10px 0;

    border: 1px solid black;
}

.UserContainer a {
    text-decoration: none;
}

.UserContainer img {
    height: 100px;
    width: 100px;
}

.UserContainer button {
    display: block;
}