.UsersProfilePageContainer {
    padding: 10px;
    border: 1px solid black;
    margin: 10px;
}

.UsersProfilePageContainer>img {
    width: 200px;
    height: 200px;
}

.SocialMediaIconContainer {
    display: grid;
    grid-template-columns: repeat(6, 1fr);

    padding: 10px;

    border: 1px solid black;
}