.headerContainer {
    grid-area: headerContainer;

    min-height: 250px;
    border: 2px solid black;

    background-color: rgb(47, 99, 17);
}

.navContainer {
    grid-area: navContainer;

    min-height: 500px;
    border: 2px solid black;

    background-color: aquamarine;
}

.mainContainer {
    grid-area: mainContainer;

    min-height: 500px;
    border: 2px solid black;

    background-color: rgb(28, 88, 88);
}

.appContainer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
    "headerContainer headerContainer headerContainer headerContainer headerContainer"
    "navContainer mainContainer mainContainer mainContainer mainContainer";

    border: 5px solid black;
}
